*{
    margin: 0;
    padding: 0;

}
#main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/kathakaliface.jpg);
    background-size: 80%;
}
#logo{
    width: 100px;
    height: 50px;
}